<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:href = "@{/webjars/font-awesome/css/all.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="header :: header"></div>
<h2>Access Denied - You are not authorized to access this resource.</h2>

<hr>

<a th:href="@{/home}">Back to Home Page</a>
<form action="#" th:action="@{/logout}"
      method="POST">

    <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />

</form>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>